* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(Photo/Background_image);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  min-width: 400px;
  color: #ffffff;
  padding: 30px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.3s;
}

.wrapper:hover {
  transform: scale(1.05);
}

form h1 {
  text-align: center;

}

form .input-box {
  background-color: transparent;

}

form .box-btn {
  text-align: center;
}

.input-box input {
  min-width: 100px;
  width: 100%;
  padding: 10px 20px;

  background-color: transparent;
  border: 1px solid white;
}

.link-box a {
  color: #ffff00;

}

.link-box {
  margin: 16px;
}

input::placeholder {
  color: #ffffff;
}

.box-btn button {
  padding: 10px 28px;
  background-color: #3ad8dd;
  border: none;
  border-radius: 9px;
  font-size: 15px;
}